#leaddiv{
	width:1340px;
	height:30px;
	float:left;
	position:absolute;
	left:0px;
	top:0px;
}
table{
	width:1340px;
	height:70px;
	text-align: center;
}
#banner{
	width:800px;
	position:absolute;
	top:120px;
	left:23%;
}
#firstlogo{
	width:200px;
	height:auto;
}
a{
	text-decoration:none;
	font-family:"微软雅黑";
	font-weight:solid;
	color:#669966;
	font-size:22px;
}
.headtd{
	background-color:#669966; 
}
.tha{
	color:white;
	font-size:22px;	
}
td:hover{
	background-color: rgba(192,192,192,0.3);
}

#healdiv{
	width:1340px;
	height:60px;
	background-color:#669966;
	text-align:center;
	position:absolute;
	top:1400px;
}
body{
	font-family:"微软雅黑";
}
#banner{
	width:700px;
	position:absolute;
	top:120px;
	left:23%;
}
#middlebig1{
	width:900px;
	height:300px;
	padding:5px;
	margin:5px;
	background-color: rgba(192,192,192,0.2);
	position:absolute;
	top:480px;
	left:16%;
}
#middlelittle1-1{
	width:580px;
	height:280px;
	padding:5px;
	margin:5px;
}
#middlelittle1-2{
	width:280px;
	height:280px;
	padding:5px;
	margin:5px;
}
#middlebig2{
	width:100%;
	height:600px;
	padding:5px;
	margin:5px;
	background-color: rgba(192,192,192,0.2);
	position:absolute;
	top:850px;

}
#middlelittle2-1{
	width:600px;
	height:280px;
	padding:5px;
	margin:5px;
	position: relative;
	left:20%;
	top:5%;
}